<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CnxCenterpoint</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="config.js"></script>
</head>

<body>

    <div data-role="page" ng-app="myApp" ng-controller="myCtrl">
        <div data-role="header">
            <p style="text-align:center;">Admin: {{userName}}</p>
            <a ng-click="Logout()" style="margin-top: 5px" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-power">ออกจากระบบ</a>
        </div>
        <div data-role="content">
            <div class="ui-grid-a">
                <div class="ui-block-a"><a class="ui-corner-all"><img src="img/1.jpg" width="100" height="100"></a></div>
                <div class="ui-block-b"><a class="ui-shadow"> </a></div>
            </div>
            <div class="ui-grid-solo ui-mini">
                <div class="ui-block-a">
                    <input type="button" ng-click="editUser()" value="แก้ไขบัญชีผู้ใช้งาน"><a href="page-editUser.html"></a></div>
            </div>

            <div data-role="navbar">
                <ul class="ui-grid-a">
                    <li><a href="#" ng-click="editProduct()" class="ui-btn-active ui-link ui-btn">จัดการสินค้า</a></li>
                    <li><a href="#" ng-click="manageCompany()" class="ui-link ui-btn">จัดการร้านค้า</a></li>
                    <li><a href="#" ng-click="approveProduct()" class="ui-link ui-btn">อนุมัติสินค้า</a></li>
                </ul>
            </div>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" ng-click="addKeyword()"  class="ui-btn">เพิ่ม Keywords</a></li>
                </ul>
                <ul>
                    <li><a href="#" ng-click="help()" class="ui-btn">ศูนย์ช่วยเหลือ:ตอบคำถาม</a></li>
                </ul>
            </div><!-- /navbar -->
        </div><!-- /navbar -->

        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="index.html" data-icon="home" data-ajax="false">หน้าแรก</a></li>
                    <li><a href="https://thai.cnxcenterpoint.com/" data-icon="eye" data-ajax="false">ชมเว็บไชต์</a></li>
                    <li><a href="page-help.html" data-icon="info" data-ajax="false">ช่วยเหลือ</a></li>
                    <li><a href="#" data-icon="user" data-ajax="false" class="ui-btn-active">บัญชีของฉัน</a></li>
                </ul>
            </div>
        </div><!-- /footer -->
    </div><!-- /page popup -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $window) {
            $scope.userName=$window.sessionStorage.getItem("userName");
            $scope.editProduct = function () {
                window.location.href = "page-UserAdmin.html";
            }
            $scope.manageCompany = function () {
                window.location.href = "manage_companybyadmin.html";
            }
            $scope.approveProduct = function () {
                window.location.href = "page-editProduct.html?isApprove=true";
            }
            $scope.editUser = function () {
                window.location.href = "page-editUser.html";
            }
            $scope.addKeyword = function () {
                window.location.href = "page-insertKeyword.html";
            }
            $scope.help = function () {
                $http.get(ip_address + 'Helps/CountLasted').then(function (response) {
                    $scope.count = response.data.results;
                    if ($scope.count > 0)
                        window.location.href = "page-AdminHelp.html";
                    else
                        alert("ยังไม่พบข้อมูลคำถาม");
                })
               
            }
            $scope.Logout = function () {

                $window.sessionStorage.removeItem("userId");
                $window.sessionStorage.removeItem("isAdmin");

                window.location.href = "index.html";
            }
        });
    </script>
</body>

</html>