<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CnxCenterpoint</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="config.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" charset="utf-8">
        var pictureSource; // picture source
        var destinationType; // sets the format of returned value

        // Wait for device API libraries to load
        //
        document.addEventListener("deviceready", onDeviceReady, false);

        // device APIs are available
        //
        function onDeviceReady() {
            pictureSource = navigator.camera.PictureSourceType;
            destinationType = navigator.camera.DestinationType;
        }

        function capturePhoto() {
            // Take picture using device camera and retrieve image as base64-encoded string
            navigator.camera.getPicture(uploadPhoto, onFail, {
                quality: 50,
                destinationType: navigator.camera.DestinationType.FILE_URI
            });
        }

        function capturePhotoEdit() {
            // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
            navigator.camera.getPicture(uploadPhoto, onFail, {
                quality: 20,
                allowEdit: true,
                destinationType: navigator.camera.DestinationType.FILE_URI
            });
        }

        function getPhoto(source) {
            // Retrieve image file location from specified source
            navigator.camera.getPicture(uploadPhoto, onFail, {
                quality: 50,
                destinationType: navigator.camera.DestinationType.FILE_URI,
                sourceType: source
            });
        }

        function uploadPhoto(imageURI) {
            var smallImage = document.getElementById('smallImage');
            smallImage.style.display = 'block';
            smallImage.src = imageURI;

            var fileName = document.getElementById('productImage').value;
            if(fileName.indexOf(".jpg") >= 0)
                imgFileName=fileName;
            else
                imgFileName=fileName+".jpg";

            document.getElementById('productImage').value = imgFileName;

            var options = new FileUploadOptions();
            options.fileKey = "file";
            options.fileName = imgFileName;
            options.mimeType = "image/jpeg";

            var params = new Object();
            params.value1 = "test";
            params.value2 = "param";

            options.params = params;
            options.chunkedMode = false;

            var ft = new FileTransfer();
            ft.upload(imageURI, ip_address + "Products/UploadFile",
                function (result) {
                    console.log(JSON.stringify(result));
                },
                function (error) {
                    console.log(JSON.stringify(error));
                }, options);
        }

        function onFail(message) {
            alert('Failed because: ' + message);
        }
    </script>
</head>
<body>
    <div data-role="page" ng-app="myApp" ng-controller="myCtrl">
        <div data-role="header">
            <a href="#" ng-click="back()" style="margin-top: 5px" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-l">Back</a>
            <p style="text-align:center;">{{editProduct}}</p>
            <a href="#" ng-click="Save()" style="margin-top: 5px" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-check">บันทึก</a>
        </div>
        <div data-role="content">
            <div class="ui-grid-a">
                <div wight=100%>
                    <div class="ui-block-a-30%" style="text-align:left;">
                        <a href="#"><img src=" " width="140px" height="150px" border="3" id="smallImage" border-color="#000000"></a><br>
                        <br>
                        <input type="button" onclick="capturePhoto();" data-inline="true" data-icon="camera"
                               data-iconpos="notext" value="Icon only">
                        <input type="button" onclick="capturePhotoEdit();" data-inline="true" data-icon="edit"
                               data-iconpos="notext" value="Icon only">
                        <input type="button" onclick="getPhoto(pictureSource.PHOTOLIBRARY);" data-inline="true"
                               data-icon="grid" data-iconpos="notext" value="Icon only">
                    </div>
                    <form>
                        <input type="hidden" name="text-12" id="productImage">
                        <input type="hidden" ng-model="product.Id">
                        <div class="ui-field-contain">
                            <label for="text-12">ชื่อสินค้า:</label>
                            <input type="text" name="text-12" ng-model="product.Product_name" id="text-12" value="">
                        </div>
                        <div class="ui-field-contain">
                            <label for="text-13">คำอธิบาย:</label>
                            <input type="text" data-clear-btn="true" ng-model="product.Product_explanation" name="text-13"
                                   id="text-13" value="">
                        </div>
                        <div class="ui-field-contain">
                            <div class="ui-field-contain">
                                <label for="text-12">ขนาด:</label>
                                <input type="number" name="text-12" ng-model="product.Product_size" id="text-12" value="">
                            </div>
                            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                                <legend>หน่วยวัดขนาด:</legend>
                                <select id="productNetSize"></select>
                            </fieldset>
                            <div class="ui-field-contain">
                                <label for="text-12">น้ำหนัก:</label>
                                <input type="number" name="text-12" ng-model="product.Product_weight" id="text-12" value="">
                            </div>
                            <fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
                                <legend>หน่วยวัดน้ำหนัก:</legend>
                                <select id="productNetWeight"></select>
                            </fieldset>
                            <div class="ui-field-contain">
                                <label for="text-12">อื่นๆ:</label>
                                <input type="text" name="text-12" ng-model="product.Product_other" id="text-12" value="">
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-12">ราคา:</label>
                                <input type="number" name="text-12" ng-model="product.Product_price" id="text-12" value="">
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-13">หมวดสินค้า:</label>
                                <select id="productgroup"></select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-13">ประเภทสินค้า:</label>
                                <select id="producttype"></select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-13">หน่วยนับ:</label>
                                <select id="productunit"></select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-12">Keywords:</label>
                                <select id="keyword" multiple="multiple" data-native-menu="false"></select>
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-12">Title:</label>
                                <input type="text" name="text-12" ng-model="product.Title" id="text-12" value="">
                            </div>
                            <div class="ui-field-contain">
                                <label for="text-12">Description:</label>
                                <input type="text" name="text-12" ng-model="product.Description" id="text-12"
                                       value="">
                            </div>

                            <div class="ui-field-contain">
                                <label for="text-12">Website:</label>
                                <input type="text" name="text-12" ng-model="product.Website" id="text-12" value="">
                            </div>

                        </div>
                    </form>
                </div>


            </div><!-- /navbar -->

            <div data-role="footer" data-position="fixed">
                <div data-role="navbar">
                    <ul>
                        <li><a href="index.html" data-icon="home" data-ajax="false">หน้าแรก</a></li>
                        <li><a href="https://thai.cnxcenterpoint.com/" data-icon="eye" data-ajax="false">ชมเว็บไชต์</a></li>
                        <li><a href="page-help.html" data-icon="info" data-ajax="false">ช่วยเหลือ</a></li>
                        <li><a href="#" data-icon="user" data-ajax="false" class="ui-btn-active">บัญชีของฉัน</a></li>
                    </ul>
                </div>
            </div><!-- /footer -->
        </div><!-- /page popup -->
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $window) {

            $(document).ready(function () {

                var url = new URL(window.location.href);
                var id = url.searchParams.get("id");
                var isApprove = url.searchParams.get("isApprove");

                if (isApprove=="true") {
                    $scope.editProduct = "อนุมัติสินค้า";
                }
                else {
                    $scope.editProduct = "แก้ไขสินค้า";
                }

                var get = $http({
                    method: "GET",
                    url: ip_address + 'Products/Details/' + id,
                    dataType: 'json',
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(function successCallback(response) {
                    if (response.data != "null") {
                        $scope.product = response.data;
                        if (!$scope.product.Image)
                            document.getElementById('productImage').value = $scope.product.Id;
                        else
                            document.getElementById('productImage').value = $scope.product.Image;

                        $('#smallImage').attr('src', ip_address + 'UploadedFiles/' + $scope.product.Image);

                        var getProductGroups = $http({
                            method: "GET",
                            url: ip_address + 'Products/GetAllGroup',
                            dataType: 'json',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(function successCallback(response) {
                            if (response.data != "null") {
                                $scope.productgroups = response.data.results;
                                var options = '';
                                for (var i = 0; i < $scope.productgroups.length; ++i)
                                    options += '<option value="' + $scope.productgroups[i].Id + '">' + $scope.productgroups[i].Product_group + '</option>';

                                $('#productgroup').append(options);
                                var productgroup = $("select#productgroup");
                                productgroup.val($scope.product.Product_group_id);
                                productgroup.selectmenu("refresh");

                                var getKeyword = $http({
                                    method: "GET",
                                    url: ip_address + 'Keywords/GetAllKeywordByGroupId?groupId=' + $scope.product.Product_group_id,
                                    dataType: 'json',
                                    headers: {
                                        "Content-Type": "application/json"
                                    }
                                }).then(function successCallback(response) {
                                    if (response.data != "null") {
                                        $scope.keywords = response.data.results;
                                        var optionsKeyword = '';
                                        for (var i = 0; i < $scope.keywords.length; i++) {
                                            var result = $scope.product.productkeywords.filter(function (pro) { return pro.KeywordId == $scope.keywords[i].Id; });
                                            if (result.length > 0)
                                                optionsKeyword += '<option selected value="' + $scope.keywords[i].Id + '">' + $scope.keywords[i].Keyword + '</option>';
                                            else
                                                optionsKeyword += '<option value="' + $scope.keywords[i].Id + '">' + $scope.keywords[i].Keyword + '</option>';
                                        }

                                        $('#keyword').append(optionsKeyword);
                                        var keyword = $("select#keyword");
                                        keyword.selectmenu("refresh")
                                    }
                                }, function errorCallback(response) {
                                    alert("Error");
                                });

                                var getProductType = $http({
                                    method: "GET",
                                    url: ip_address + 'Products/GetAllTypeByGroupId?groupId=' + $scope.product.Product_group_id,
                                    dataType: 'json',
                                    headers: {
                                        "Content-Type": "application/json"
                                    }
                                }).then(function successCallback(response) {
                                    if (response.data != "null") {
                                        $scope.producttypes = response.data.results;
                                        var options = '';
                                        for (var i = 0; i < $scope.producttypes.length; ++i)
                                            options += '<option value="' + $scope.producttypes[i].Id + '">' + $scope.producttypes[i].Product_type + '</option>';
                                        $('#producttype').append(options);
                                        var producttype = $("select#producttype");
                                        producttype.val($scope.product.Product_type_id);
                                        producttype.selectmenu("refresh");
                                    }
                                }, function errorCallback(response) {
                                    alert("Error");
                                });

                            }
                        }, function errorCallback(response) {
                            alert("Error");
                        });

                        var getProductUnit = $http({
                            method: "GET",
                            url: ip_address + 'Products/GetAllUnit',
                            dataType: 'json',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(function successCallback(response) {
                            if (response.data != "null") {
                                $scope.productunits = response.data.results;
                                var options = '';
                                for (var i = 0; i < $scope.productunits.length; ++i)
                                    options += '<option value="' + $scope.productunits[i].Id + '">' + $scope.productunits[i].Product_unit + '</option>';

                                $('#productunit').append(options);
                                var productunit = $("select#productunit");
                                productunit.val($scope.product.Product_unit_id);
                                productunit.selectmenu("refresh");
                            }
                        }, function errorCallback(response) {
                            alert("Error");
                        });

                        var getNetSize = $http({
                            method: "GET",
                            url: ip_address + 'Products/GetAllNetSize',
                            dataType: 'json',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(function successCallback(response) {
                            if (response.data != "null") {
                                $scope.productnetsizes = response.data.results;
                                var optionsNetsize = '';
                                for (var i = 0; i < $scope.productnetsizes.length; i++)
                                    optionsNetsize += '<option value="' + $scope.productnetsizes[i].Id + '">' + $scope.productnetsizes[i].netsize_name + '</option>';
                                $('#productNetSize').append(optionsNetsize);
                                var productNetSize = $("select#productNetSize");
                                productNetSize.val($scope.product.Product_netsize_id);
                                productNetSize.selectmenu("refresh");
                            }
                        }, function errorCallback(response) {
                            alert("Error");
                        });

                        var getNetWeight = $http({
                            method: "GET",
                            url: ip_address + 'Products/GetAllNetWeight',
                            dataType: 'json',
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(function successCallback(response) {
                            if (response.data != "null") {
                                $scope.productnetweights = response.data.results;
                                var optionsNetweight = '';
                                for (var i = 0; i < $scope.productnetweights.length; i++)
                                    optionsNetweight += '<option value="' + $scope.productnetweights[i].Id + '">' + $scope.productnetweights[i].netweight_name + '</option>';
                                $('#productNetWeight').append(optionsNetweight);
                                var productNetWeight = $("select#productNetWeight");
                                productNetWeight.val($scope.product.Product_netweight_id);
                                productNetWeight.selectmenu("refresh");
                            }
                        }, function errorCallback(response) {
                            alert("Error");
                        });

                    }
                }, function errorCallback(response) {
                    alert("Error");
                });

                $("#productgroup").change(function () {
                    var id = $('#productgroup').val();

                    $('#keyword').find('option').remove().end().append('').val('whatever');
                    $('#producttype').find('option').remove().end().append('').val('whatever');

                    $("#keyword").selectmenu("refresh");
                    $("#producttype").selectmenu("refresh");

                    var getProductType = $http({
                        method: "GET",
                        url: ip_address + 'Products/GetAllTypeByGroupId?groupId=' + id,
                        dataType: 'json',
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(function successCallback(response) {
                        if (response.data != "null") {
                            $scope.producttypes = response.data.results;
                            var options = '';
                            for (var i = 0; i < $scope.producttypes.length; ++i)
                                options += '<option value="' + $scope.producttypes[i].Id + '">' + $scope.producttypes[i].Product_type + '</option>';
                            $('#producttype').append(options);
                        }
                    }, function errorCallback(response) {
                        alert("Error");
                    });

                    var getKeyword = $http({
                        method: "GET",
                        url: ip_address + 'Keywords/GetAllKeywordByGroupId?groupId=' + id,
                        dataType: 'json',
                        headers: {
                            "Content-Type": "application/json"
                        }
                    }).then(function successCallback(response) {
                        if (response.data != "null") {
                            $scope.keywords = response.data.results;
                            var optionsKeyword = '';
                            for (var i = 0; i < $scope.keywords.length; ++i)
                                optionsKeyword += '<option value="' + $scope.keywords[i].Id + '">' + $scope.keywords[i].Keyword + '</option>';
                            $('#keyword').append(optionsKeyword);
                            var keyword = $("select#keyword");
                            keyword.selectmenu("refresh");
                        }
                    }, function errorCallback(response) {
                        alert("Error");
                    });
                });

                var getNetSize = $http({
                    method: "GET",
                    url: ip_address + 'Products/GetAllNetSize',
                    dataType: 'json',
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(function successCallback(response) {
                    if (response.data != "null") {
                        $scope.productnetsizes = response.data.results;
                        var optionsNetsize = '';
                        for (var i = 0; i < $scope.productnetsizes.length; i++)
                            optionsNetsize += '<option value="' + $scope.productnetsizes[i].Id + '">' + $scope.productnetsizes[i].netsize_name + '</option>';
                        $('#productNetSize').append(optionsNetsize);
                    }
                }, function errorCallback(response) {
                    alert("Error");
                });

                var getNetWeight = $http({
                    method: "GET",
                    url: ip_address + 'Products/GetAllNetWeight',
                    dataType: 'json',
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(function successCallback(response) {
                    if (response.data != "null") {
                        $scope.productnetweights = response.data.results;
                        var optionsNetweight = '';
                        for (var i = 0; i < $scope.productnetweights.length; i++)
                            optionsNetweight += '<option value="' + $scope.productnetweights[i].Id + '">' + $scope.productnetweights[i].netweight_name + '</option>';
                        $('#productNetWeight').append(optionsNetweight);
                    }
                }, function errorCallback(response) {
                    alert("Error");
                });
            });
            $scope.back = function () {
                var url = new URL(window.location.href);
                var isApprove = url.searchParams.get("isApprove");
                window.location.href = "page-editProduct.html?isApprove=" + isApprove;
            }
            $scope.Save = function () {
                var url = new URL(window.location.href);
                var isApprove = url.searchParams.get("isApprove");

                if (isApprove=="true") {
                    $.ajax({
                        type: 'POST',
                        url: ip_address + "Products/Approval/"+$scope.product.Id,
                        cache: false,
                        success: function (result) {
                            if (result.exception) {
                                alert(result.exception.Message);
                            } else {
                                alert("Save Success");
                                window.location.href = "page-editProduct.html?isApprove=" + isApprove;
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error");
                        }
                    });
                } else {
                    if (!$scope.product.Product_name) {
                        alert("กรุณากรอกข้อมูล ชื่อสินค้า");
                        return;
                    }
                    $scope.product.User_Id = $window.sessionStorage.getItem("userId");
                    $scope.product.Image = document.getElementById('productImage').value;
                    $scope.product.Product_group_id = $("#productgroup").val();
                    $scope.product.Product_type_id = $("#producttype").val();
                    $scope.product.Product_unit_id = $("#productunit").val();
                    $scope.product.Product_netsize_id = $("#productNetSize").val();
                    $scope.product.Product_netweight_id = $("#productNetWeight").val();

                    $scope.product.productkeywords = [];
                    var products = $('#keyword').val();
                    if (products) {
                        for (var i = 0; i < products.length; i++) {
                            var productkeyword = { Id: 0, KeywordId: products[i], ProductId: 0 };
                            $scope.product.productkeywords.push(productkeyword);
                        }
                    }

                    $.ajax({
                        type: 'POST',
                        url: ip_address + "Products/Edit",
                        data: {
                            tbproduct: $scope.product
                        },
                        cache: false,
                        success: function (result) {
                            if (result.exception) {
                                alert(result.exception.Message);
                                //window.location.href = "page-User.html";
                            } else {
                                alert("Save Success");
                                window.location.href = "page-UserAdmin.html";
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert("Error");
                            //window.location.href = "page-User.html";
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>