<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CnxCenterpoint</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="config.js"></script>

</head>

<body>

    <div data-role="page" ng-app="myApp" ng-controller="myCtrl">
        <div data-role="header">
            <a href="index.html" style="margin-top: 5px" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-l">Back</a>
            <p style="text-align:center;">บัญชีของฉัน</p>
            <a href="#" ng-click="Logout()" style="margin-top: 5px" class="ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-right ui-icon-power">ออกจากระบบ</a>
        </div>

        <div data-role="content">
            <div class="ui-grid-a">


                <div class="ui-block-a"><a class="ui-corner-all"><img src="img/1.jpg" width="100px" height="100px"></a></div>
                <div class="ui-block-b"><a class="ui-shadow">

                    </a></div>
            </div>

            <div class="ui-grid-solo ui-mini">
                <div class="ui-block-a">
                    <a href="#"><input type="button" ng-click="editUser()" value="แก้ไขบัญชีผู้ใช้งาน"></a></div>
            </div><br>
            <div data-role="navbar">
                <ul class="ui-grid-a">
                    <li class="ui-block-a"><a href="#" ng-click="editProduct()" class="ui-btn-active ui-link ui-btn">แก้ไขข้อมูลสินค้า</a></li>
                    <li class="ui-block-b"><a href="#" ng-click="addProduct()" class="ui-link ui-btn">เพิ่มสินค้า</a></li>
                </ul>
                <form>
                    <input type="search" class="ui-mini" name="search-1" id="search-1" value="">
                </form>
            </div>




        </div><!-- /navbar -->



        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="index.html" data-icon="home" data-ajax="false">หน้าแรก</a></li>
                    <li><a href="https://thai.cnxcenterpoint.com/" data-icon="eye" data-ajax="false">ชมเว็บไชต์</a></li>
                    <li><a href="page-help.html" data-icon="info" data-ajax="false">ช่วยเหลือ</a></li>
                    <li><a href="#" data-icon="user" data-ajax="false" class="ui-btn-active">บัญชีของฉัน</a></li>
                </ul>
            </div>
        </div><!-- /footer -->
    </div><!-- /page popup -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $window) {
            $scope.addProduct = function () {
                window.location.href = "page-addProductByAdmin.html";
            }
            $scope.editProduct = function () {
                window.location.href = "page-editProduct.html";
            }
            $scope.editUser = function () {
                window.location.href = "page-editUserbyAdmin.html";
            }
            $scope.Logout = function () {

                $window.sessionStorage.removeItem("userId");
                $window.sessionStorage.removeItem("isAdmin");

                window.location.href = "index.html";
            }
        });
    </script>
</body>

</html>