<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CnxCenterpoint</title>
    <script src="js/angular.min.js"></script>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.5.min.css">
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <script src="config.js"></script>
</head>

<body>

    <div data-role="page" ng-app="myApp" ng-controller="myCtrl">
        <div data-role="header">
            <a href="index.html" style="margin-top: 5px" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-btn-icon-left ui-icon-carat-l">Back</a>
            <p style="text-align:center;">เข้าสู่ระบบ</p>
        </div>

        <div data-role="content">
            <div data-role="navbar">
                <ul class="ui-grid-a">
                    <li class="ui-block-a"><a href="#" ng-click="switchUser(false)" class="ui-link ui-btn">ผู้ประกอบการ</a></li>
                    <li class="ui-block-b"><a href="#" ng-click="switchUser(true)" class="ui-btn-active ui-link ui-btn">ผู้ดูแลระบบ</a></li>
                </ul><br><br>

                <form action="#" ng-submit="Login()" name="myForm">
                    <label for="email-2">ชื่อผู้ใช้งาน:</label>
                    <input type="text" data-clear-btn="true" ng-model="UserName" name="UserName" id="UserName" value="">

                    <label for="password-2">รหัสผ่าน:</label>
                    <input type="password" data-clear-btn="true" ng-model="Password" name="password-2" id="password-2"
                        value="" autocomplete="off">


                    <div class="ui-grid-solo">
                        <div class="ui-block-a">
                            <input type="submit" name="login" value="เข้าสู่ระบบ" /></div>
                    </div>
                </form>
            </div>
        </div><!-- /navbar -->



        <div data-role="footer" data-position="fixed">
            <div data-role="navbar">
                <ul>
                    <li><a href="index.html" data-icon="home" data-ajax="false">หน้าแรก</a></li>
                    <li><a href="https://thai.cnxcenterpoint.com/" data-icon="eye" data-ajax="false">ชมเว็บไชต์</a></li>
                    <li><a href="page-help.html" data-icon="info" data-ajax="false">ช่วยเหลือ</a></li>
                    <li><a href="#" data-icon="user" data-ajax="false" class="ui-btn-active">บัญชีของฉัน</a></li>
                </ul>
            </div>
        </div><!-- /footer -->
    </div><!-- /page popup -->
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope, $http, $window) {
            var userId = $window.sessionStorage.getItem("userId");
            var isAdmin = $window.sessionStorage.getItem("isAdmin");

            if (userId != null && isAdmin!=null) {
                window.location.href = "page-UserAdmin.html";
            }else if(userId != null){
                window.location.href = "page-User.html";
            }
            $scope.switchUser = function (admin) {
                if(admin)
                    window.location.href = "page-logAdmin.html";
                else
                    window.location.href = "page-logUser.html";
            }
            $scope.Login = function () {

                var login = $http({
                    method: "GET",
                    url: ip_address + 'Users/Login?username=' + $scope.UserName + '&password=' +
                        $scope.Password+"&isAdmin=true",
                    dataType: 'json',
                    headers: {
                        "Content-Type": "application/json"
                    }
                }).then(function successCallback(response) {
                    if (response.data.users) {
                        $window.sessionStorage.setItem("userId", response.data.users.Id);
                        $window.sessionStorage.setItem("isAdmin", true);
                        window.location.href = "page-UserAdmin.html";
                    } else
                        alert("User name or Password incorrect");
                }, function errorCallback(response) {
                    alert("Error");
                });
            }
        });
    </script>
</body>

</html>